:root {
    --main-font: 'Poppins', sans-serif;
}

body, html {
    font-family: var(--main-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2D3748;
}

body, html, input, button, select, textarea {
    font-family: 'Poppins', sans-serif !important;
}

::placeholder {
    font-family: 'Poppins', sans-serif;
    opacity: 0.7;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font);
    font-weight: 600;
}

a, p, label {
    font-family: var(--main-font);
    color: inherit;
    transition: all 0.2s;
}

    a:hover {
        color: #4A90E2; 
    }